@page "/"

<PageTitle>Index</PageTitle>

<h1>JOP Consulting Inc.</h1>
<img src="/Images/JOPConsulting.jpg" asp-append-version="true" width="300px" />
<p>IT Consulting company that operates in Canada providing solutions</p>
<p>
    <ul>
    <li> Digital Transformation </li>
    <li> Application modernization </li>
    </ul>
</p>
